.cart-list {
  width: 80%;
  margin: 0 auto;
  @include sp {
    width: 90%;
  }

  > .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 6px;
    // content-visibility: auto;
    // contain-intrinsic-size: 500px;
  }

  > .wrapper > .thumbnail {
    display: block;
    width: 30%;
    display: flex;
    margin: auto;
    @include sp {
      width: 40%;
    }
  }
  > .wrapper > .thumbnail > .image {
    width: 130px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    @include sp {
      width: 100px;
      height: 60px;
    }
  }

  > .wrapper > .content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    @include sp {
      width: 60%;
    }
  }

  > .wrapper > .content > .details {
    margin: auto 0;
  }
  > .wrapper > .content > .details > .name {
    font-size: 1.1rem;
    color: $goshawk-grey;
    font-weight: bold;
    text-decoration: none;
    /*
    * 3点リーダー
    */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    @include sp {
      font-size: 0.9rem;
    }
  }

  > .wrapper > .content > .details > .name > .price {
    color: $basalt-grey;
    font-size: 0.9rem;
    margin: 0 10px;
    @include sp {
      font-size: 0.4rem;
    }
  }
}
