.cart-list {
  width: 80%;
  margin: 0 auto;

  > .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 6px;
  }

  > .wrapper > .thumbnail {
    width: 20%;
    display: flex;
    margin: auto;
  }
  > .wrapper > .thumbnail > img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    @include sp {
      width: 210px;
    }
  }

  > .wrapper > .content {
    width: 45%;
    margin: auto;
  }

  > .wrapper > .content > .name {
    font-size: 0.9em;
    color: $goshawk-grey;
    font-weight: bold;
    height: 50px;
    text-decoration: none;
    // 3点リーダー
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  > .wrapper > .content > .price {
    color: $basalt-grey;
    font-size: 0.9em;
  }

  > .wrapper > .content > .dimentions {
    margin-top: 10px;
    border-top: 1px solid #eee;
  }

  > .wrapper > .content > .dimentions > ul {
    margin: 10px 0 0 0;
    font-size: 14px;
  }

  > .wrapper > .content > .dimentions > ul > li {
    margin-right: 10px;
  }

  > .wrapper > .content > .dimentions > ul > li > .avatar {
    width: 30px;
    height: 30px;
  }
}
