.counter-container {
  text-align: left;
  margin: 5px 0;
  .count {
    margin: 0 10px;
  }
  .counter {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: white;
    border: 1px solid $vintage-blue;
    transition: 200ms;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  }
}
