.responsive-header {
  width: 95%;
  margin: 0 auto;
  justify-content: flex-end;
  padding: 15px 0;

  > .head {
    display: flex;
  }

  > .head > .logo {
    font-weight: bold;
    color: $lighthouse;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  > .head > .logo > img {
    margin: 0 5px;
    width: 36px;
    margin-top: -8px;
  }

  > .responsive-overlay > .hamburger-box {
    width: 15%;
    margin-left: auto;
  }
  > .responsive-overlay > .menu {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    animation: fadeIn 0.5s ease-in;
  }
  > .responsive-overlay > .menu > .hamburger-link {
    text-align: center;
  }
}
