.navbar {
  width: 100%;
  padding: 50px 0 10px;
  box-sizing: border-box;
  @include sp {
    height: 75px;
    padding: 0;
    background: $vintage-blue;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    transition-duration: 200ms;
    &.-active {
      transition-duration: 200ms;
      background: $vintage-blue;
      height: 280px;
    }
  }

  > .wrapper {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
    @include sp {
      display: none;
    }
  }
  > .responsive-wrapper {
    display: none;
    @include sp {
      display: block;
    }
  }

  > ul > .logo {
    font-weight: bold;
    color: $goshawk-grey;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  > ul > .logo > img {
    margin-right: 10px;
    filter: invert(25%);
    width: 36px;
    margin-top: -8px;
  }
}
