.not-found-container {
  margin: 15% 0;
  text-align: center;
  @include sp{
    margin: 30% 0;
  }
  > img {
    width: 50%;
  }
  > .message {
    font-size: 2rem;
    font-weight: bold;
    color: $vintage-blue;
    margin: 30px 0;
  }
}
