.photos-container {
  display: flex;
  justify-content: space-between;
  /*コレ*/
  overflow-x: scroll;

  > div > .wrapper {
    width: 240px;
    height: 370px;
    margin: 0 auto 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: $white;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid $vintage-blue;
  }
}
