.progress-div {
  max-width: 350px;
  width: 100%;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  margin: 20px auto;
}

.progress {
  height: 10px;
  background-color: $vintage-blue;
  border-radius: 1rem;
  transition: 0.2s ease;
  transition-delay: 0.1s;
}
