.project-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;

  > a {
    background-color: $white;
    padding: 16px;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: inherit;
  }

  > a > .image-box {
    text-align: center;
    width: 200px;
    height: 200px;
  }
  > a > .image-box > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  > a > h4 {
    font-size: 0.9em;
    color: $goshawk-grey;
  }

  > a > p {
    color: $basalt-grey;
    font-size: 0.9em;
  }

  > a > .assigned-to {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #eee;
  }

  > a > .assigned-to > ul {
    margin: 10px 0;
    display: flex;
  }

  > a > .assigned-to > ul > li {
    margin-right: 10px;
  }

  > a > .assigned-to > ul > li > .avatar {
    width: 30px;
    height: 30px;
  }
}
