.sidebar {
  width: 300px;
  min-width: 300px;
  background: $vintage-blue;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: $white;
  @include sp {
    display: none;
  }

  > .sidebar-content {
    position: fixed;
    width: inherit;
  }

  > .sidebar-content > .user {
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 40px 30px;
    border-bottom: 3px solid rgba(225, 225, 225, 0.2);
  }
  > .sidebar-content > .user > a {
    text-decoration: none;
    color: $white;
  }

  > .sidebar-content > .links {
    margin-top: 80px;
    margin-left: 20px;
  }

  > .sidebar-content > .links > ul > li {
    margin-top: 10px;
  }

  > .sidebar-content > .links > ul > li > a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    color: $white;
    box-sizing: border-box;
  }

  > .sidebar-content > .links > ul > li > a > img {
    margin-right: 10px;
    filter: invert(100%);
  }

  > .sidebar-content > .links > ul > li > a.active {
    color: #555;
    background: $lighthouse;
    border-radius: 20px 0 0 20px;
  }

  > .sidebar-content > .links > ul > li > a.active > img {
    filter: invert(40%);
  }
}
