.tinder-swipe {
  margin: 50px 0 0 0;
  text-align: center;

  > .cardContainer {
    width: 300px;
    max-width: 280px;
    height: 400px;
    margin: 0 auto;
  }

  > .cardContainer > .swipe {
    position: absolute;
  }

  > .cardContainer > .swipe > .card {
    position: relative;
    background-color: $white;
    width: 300px;
    max-width: 280px;
    height: 400px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }

  > .cardContainer > .swipe > .card > h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: $white;
  }

  .infoText {
    width: 100%;
    height: 28px;
    justify-content: center;
    display: flex;
    animation-name: popup;
    animation-duration: 800ms;
  }

  > .buttons {
    width: 250px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
  }

  > .buttons > button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: white;
    border: 2px solid $vintage-blue;
    transition: 200ms;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  }

  > .buttons > button:hover {
    transform: scale(1.05);
  }
}
