.project-filter {
  margin: 30px auto;
  /*コレ*/
  overflow-x: scroll;

  > nav {
    width: min-content;
    display: flex;
    padding: 10px;
    background-color: $white;
    border-radius: 4px;
  }

  > nav > p {
    font-size: 0.9em;
    margin-right: 10px;
  }

  > nav > button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    color: $basalt-grey;
    cursor: pointer;
    border-right: 1px solid #e4e4e4;
    font-size: 0.9em;
  }

  > nav > button:last-child {
    border: 0;
  }

  > nav > button.active {
    color: $vintage-blue;
  }
}
