.diagnose-result {
  font-size: 16px;
  @include sp {
    margin: 10px;
  }
  > .image-box {
    background: white;
    padding: 50px 0;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }
  > .image-box > img {
    width: 700px;
    object-fit: cover;
    @include sp {
      width: 100%;
    }
  }
  > .content-box {
    margin: 20px 0;
  }

  > .content-box > .price > .item > .total {
    font-weight: bold;
    margin: 0 10px;
  }
  > .content-box > .color {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    @include sp {
      width: 100%;
    }
  }
  > .content-box > .color > .item {
    display: flex;
  }
  > .content-box > .color > .item > .cercle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $basalt-grey;
    margin-left: 10px;
    &.-white {
      background: $white;
    }
    &.-grey {
      background: grey;
    }
  }
}

