.diagnose-result {
  font-size: 16px;
  @include sp {
    margin-top: 30px;
  }
  > .thumbnail {
    background: white;
    padding: 40px 0;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    @include sp {
      padding: 5% 0;
    }
  }
  > .thumbnail > img {
    width: 700px;
    object-fit: cover;
    @include sp {
      width: 90%;
      margin: 0 auto;
    }
  }
  > .content {
    margin: 20px 0;
    @include sp {
      margin: 10px;
    }
  }
  > .content > .name {
    font-size: 1.6rem;
  }

  > .content > .price > .item > .total {
    font-weight: bold;
    margin: 0 10px;
  }
  > .content > .colors {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    @include sp {
      display: block;
      width: 100%;
    }
  }
  > .content > .colors > .item {
    display: flex;
  }
  > .content > .colors > .item > .cercle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $basalt-grey;
    margin-left: 10px;
    &.-white {
      background: $white;
    }
    &.-grey {
      background: grey;
    }
  }
}
