.recommendation {
  font-size: 16px;
  > .image-box {
    border-radius: 20px;
    text-align: center;
  }
  > .image-box > img {
    width: 700px;
    object-fit: cover;
  }

  > .content-box > .price > .item > .total {
    font-weight: bold;
    margin: 0 10px;
  }
  > .content-box > .color {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  > .content-box > .color > .item {
    display: flex;
  }
  > .content-box > .color > .item > .cercle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $basalt-grey;
    margin-left: 10px;
    &.-white {
      background: $white;
    }
    &.-grey {
      background: grey;
    }
  }
}

.diagnose-result-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;

  > a {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    color: inherit;
  }

  > a > .image-box {
    text-align: center;
    margin: auto;
  }
  > a > .content-box {
    margin: 10px;
  }

  > a > .content-box > h4 {
    font-size: 0.9em;
    color: $goshawk-grey;
  }

  > a > .content-box > p {
    color: $basalt-grey;
    font-size: 0.9em;
  }

  > a > .content-box > .assigned-to {
    margin-top: 10px;
    border-top: 1px solid #eee;
  }

  > a > .content-box > .assigned-to > ul {
    margin: 10px 0;
    font-size: 14px;
  }

  > a > .content-box > .assigned-to > ul > li {
    margin-right: 10px;
  }

  > a > .content-box > .assigned-to > ul > li > .avatar {
    width: 30px;
    height: 30px;
  }
}
