.product-comments {
  width: 100%;

  > .comment-list {
    max-height: 590px; //オーバーしたらスクロールバーが追加される
    overflow: auto;
  }
  > .comment-list > li {
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0 0 0;
    border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    background: $white;
  }
  > .comment-list > li > .auther {
    display: flex;
    align-items: center;
    color: var(--title-color);
  }
  > .comment-list > li > .auther > .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  > .comment-list > li > .date {
    color: $basalt-grey;
    font-size: 0.9em;
    margin: 4px 0 10px;
  }
  > .comment-list > li > .content {
    color: $basalt-grey;
    font-size: 0.9em;
  }
}
