.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
  margin: 20px auto;
}

.progress {
  background-color: var(--primary-color);
  height: 10px;
  border-radius: 1rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}
