/* Setting Layer */

/* black */
$black: #000;
$black-dark-grey: #363636;

/* grey */
$grey: #808080;
$goshawk-grey: #444;
$basalt-grey: #999;

/* white */
$white: #ffffff;
$white-dr-white: #fafafa;
$lighthouse: #f4f4f4;

/* blue */
$vintage-blue: #84bcb4;

/* green */

/* red */
$spicy-berry: #d13267;

/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);
$overlay: rgba(0, 0, 0, 0.6);
