/* Element Layer */

// html {
//   font-size: 62.5%;
// }

body {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  color: $black-dark-grey;
  background: $lighthouse;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* base styles */
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */

.btn {
  background: $white;
  padding: 8px 12px;
  border-radius: 4px;
  color: $vintage-blue;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid $vintage-blue;
  transition: 0.5s;
  &.-mt10 {
    margin-top: 10px;
  }
  &.-mt50 {
    margin-top: 50px;
  }
  &.-w200 {
    width: 200px;
  }
  &.-round {
    border-radius: 30px;
  }
  &.-upload {
    display: inline-block;
    margin: auto;
    border-radius: 50px;
  }
  &.-disabled {
    background: $black-shadow;
    color: $overlay;
    border: 1px solid $overlay;
    &:hover {
      background: $black-shadow;
      color: $overlay;
      border: 1px solid $overlay;
    }
  }
  &.-link {
    background: $vintage-blue;
    padding: 0 10px;
    border-radius: 0;
    color: $white;
  }
}
.btn:hover {
  color: $white;
  background-color: $vintage-blue;
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: $spicy-berry;
  background: pink;
  border: 1px solid $spicy-berry;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}
